<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    Hallo! <br />

    <a href="/create">Add</a><br />
    <ul>
      <% arr.forEach(function(item){ %>
      <li>
        <%= item %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
